on early-init
    loglevel 7
    setenforce permissive

on fs
    mkdir /bootdata
    mount vfat /dev/block/platform/omap/omap_hsmmc.1/by-name/bootdata /bootdata
    exec /sbin/dd if=/dev/zero of=/bootdata/BootCnt bs=1 count=4
    
on boot
    write /sys/class/android_usb/android0/idVendor 1949
    write /sys/class/android_usb/android0/idProduct 0008
    write /sys/class/android_usb/android0/iManufacturer Amazon
    write /sys/class/android_usb/android0/iProduct "Kindle"
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
